// ********************************************* JS *************************************************
//
// import PasswordEye from './wl-classes/wl-password.js';
//
// const newEye = new PasswordEye({
//     input: '#password',              // поле "ПАРОЛЬ"
//     toggle: '[data-eyetoggle]',      // элемент "ГЛАЗИК"
//     input2: '#password-repeat'       // поле "ПОВТОРИТЕ ПАРОЛЬ"
//   })
//   newEye.listener();
//
// ******************************************** HTML *************************************************
//
// <form action="">
//         <div class="form-wrapper">
//             <!-- ПАРОЛЬ С ГЛАЗИКОМ -->
//             <label for="password" class="password form-item" >
//                 <input class="form-input" type="password" name="password" id="password" placeholder="Пароль"
//                     autocomplete="off">

//                 <button class="password-toggle" data-eyetoggle>
//                     <i class="icons_24_eye open-eye"></i>
//                 </button>
//             </label>

//             <!-- ПОВТОРИТЕ ПАРОЛЬ -->
//             <label for="password-repeat form-item">
//                 <input class="form-input" type="password" name="password-repeat" id="password-repeat"
//                     placeholder="Повторите пароль" autocomplete="off">
//             </label>
//         </div>
//     </form>
//
// *************************************** SCSS *****************************************************
//
//  Global input styles in file: inputs.scss
//
// --- Toggle button ---
.password {
    display: block;
    position: relative;

    &-toggle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(20);
        z-index: 10;
    }
}

//
// Icons class="icons_24_eye" styles in file: typography.scss
//
