/* ----------------------------------------------------------------------------------------------------
   БАЗОВЫЕ
 ----------------------------------------------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "PTRootUI", sans-serif;
	text-wrap: balance;
	color: var(--black-text);
	background: var(--beige-background);
}

* {
	&::-webkit-scrollbar {
		inline-size: rem(0);
		background-color: var(--scrollbar);
	}

	&::-webkit-scrollbar-track {
		border-radius: var(--radius);
		box-shadow: inset 0 0 rem(6) rgba(#000, 20%);
		background: var(--scrollbar-track);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: var(--radius);
		border: 0 none #fff;
		background-color: var(--scrollbar-thumb);
		cursor: pointer;

		@include any-hover {
			background-color: grey;
		}
	}
}

[hidden]{
	display: none;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
	width: 100%;
}
.img-responsive {
	width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
}

.tac{
	text-align: center;
}
.tar{
	text-align: right;
}

.ml-40 {
	margin-left: 40px;
}

.myrow{
	display: flex;
	flex-direction: row;
	margin-left: -10px;
	margin-right: -10px;
	height: inherit;
}
.mycolumn{
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
}
