/* ----------------------------------------------------------------------------------------------------
 КОРНЕВЫЕ ПЕРЕМЕННЫЕ 
------------------------------------------------------------------------------------------------------*/

:root {
	// --- размер и паддинг контейнера ---	
	--container-width: 1760px;
	--container-padding: 20px;

	// --- шрифты ---	
	--font-family: "PTRootUI", sans-serif;

	// --- цвета текста ---	
	--white-text: white;
	--black-text: #333;
	--red: #F89061;

	--scrollbar: red;
	--scrollbar-track: green;
	--scrollbar-thumb: blue;

	// -- цвета фонов и др. ---
	--beige-background: #F4F0E8;
	--black-border: #333;
}
